<!-- Achievements Section -->
<section class="achievements section" id="achievements">
    <div class="container">
        <div class="section-heading">
            <h2>Achievements</h2>
            <div class="underline"></div>
        </div>

        <!-- Main Achievements -->
        <div class="achievements-wrapper">
            <!-- Achievement Card 1 - Contributor -->
            <div class="achievement-card">
                <div class="achievement-image" style="background-image: url('assets/images/Contributor.jpg');">
                    <div class="achievement-overlay">
                        <h3 class="achievement-title">GSSoc Contributor</h3>
                        <div class="achievement-year">2025</div>
                    </div>
                </div>
                <div class="achievement-details">
                    <p class="achievement-organization">GirlScript Summer Of Code 2025</p>
                    <p class="achievement-description">
                        Selected as a Contributor for GirlScript Summer of Code 2025, actively contributing to open-source projects.
                        <br>
                        Contributed to the <a href="https://github.com/Muneerali199/DocMagic" class="cert-link" target="_blank">DocMagic</a> project by enhancing features, fixing bugs, and improving overall code quality.
                    </p>
                </div>
            </div>

            <!-- Achievement Card 2 - Leaderboard -->
            <div class="achievement-card">
                <div class="achievement-image" style="background-image: url('assets/images/Leaderboard.jpg');">
                    <div class="achievement-overlay">
                        <h3 class="achievement-title">College Coding Rank #2</h3>
                        <div class="achievement-year">2025</div>
                    </div>
                </div>
                <div class="achievement-details">
                    <p class="achievement-organization">CMRIT-2026-LEADERBOARD </p>
                    <p class="achievement-description">
                        Achieved 2nd place in the College Coding Leaderboard (Batch 2022–2026) by consistently solving
                        complex problems and maintaining top performance in competitive programming challenges.
                    </p>
                    <a href="https://pyramid-it-learn.github.io/pyramid-leaderboards/#/leaderboard/CMRIT/CMRIT-2026-LEADERBOARD"
                        class="cert-link" target="_blank"><i class="fas fa-external-link-alt"></i> View </a>
                </div>
            </div>
        </div>
    </div>
</section>