<section id="coding-profiles" class="section">
  <h2 class="section-title">Coding Profiles</h2>
  <div class="profiles-grid">
    <div class="profile-card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png" alt="LeetCode" class="profile-icon">
      <h3>LeetCode</h3>
      <p></p>
      <a href="https://leetcode.com/rohithgoje21/" target="_blank" class="profile-link">View Profile</a>
    </div>
     <div class="profile-card">
      <img src="https://cdn.codechef.com/images/cc-logo.svg" alt="CodeChef" class="profile-icon">
      <h3>CodeChef</h3>
      <p></p>
      <a href="https://www.codechef.com/users/rohithgoje21" target="_blank" class="profile-link">View Profile</a>
    </div>
    <div class="profile-card">
      <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg" alt="GeeksforGeeks" class="profile-icon">
      <h3>GeeksforGeeks</h3>
      <p></p>
      <a href="https://auth.geeksforgeeks.org/user/rohithgoje21/" target="_blank" class="profile-link">View Profile</a>
    </div>
    <div class="profile-card">
      <img src="https://imagedelivery.net/jP_2Cu8opO0otIERyhqaNQ/6ae91311-9b06-4e0a-1758-19b4df5f0500/public" alt="SmartInterviews" class="profile-icon">
      <h3>SmartInterviews</h3>
      <p></p>
      <a href="https://smartinterviews.in/profile/22r01a05l7" target="_blank" class="profile-link">View Profile</a>
    </div>
    <div class="profile-card">
      <img src="https://codeforces.org/s/21262/images/codeforces-sponsored-by-ton.png" alt="Codeforces" class="profile-icon">
      <h3>Codeforces</h3>
      <p></p>
      <a href="https://codeforces.com/profile/rohithgoje21" target="_blank" class="profile-link">View Profile</a>
    </div>
    <div class="profile-card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/HackerRank_logo.png" alt="HackerRank" class="profile-icon">
      <h3>HackerRank</h3>
      <p></p>
      <a href="https://www.hackerrank.com/rohithgoje21" target="_blank" class="profile-link">View Profile</a>
    </div>
  </div>
</section>